<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>lk.ijse.lms.listners.ManagerListner</listener-class>
    </listener>
    <listener>
        <listener-class>lk.ijse.lms.listners.BranchManagerListner</listener-class>
    </listener>
    <listener>
        <listener-class>lk.ijse.lms.listners.EmployeeListner</listener-class>
    </listener>
    <listener>
        <listener-class>lk.ijse.lms.listners.BranchListner</listener-class>
    </listener>
    <listener>
        <listener-class>lk.ijse.lms.listners.TListnerRequest</listener-class>
    </listener>
    <context-param>
        <param-name>manager</param-name>
        <param-value>
            M001,Sanu,Vithanage,Galle,sanu@gmail.com,sanu
        </param-value>
    </context-param>
    <context-param>
        <param-name>employe</param-name>
        <param-value>
            E001,Sanuka,Wicky,Colombo,B1,sanuka@gmail.com,sanuka
            E002,Malaka,Perera,Awissawella,B1,malaka@gmail.com,malaka
            E003,Randeer,Aseela,Pannipitiya,B1,asela@gmail.com,asela
            E004,Ruwan,Mendis,Kuliyapitiya,B1,ruwan@gmail.com,ruwan
            E005,Malki,Gamlath,Kuliyapitiya,B1,malki@gmail.com,malki
            E006,Achini,Shalika,Colombo,B2,achini@gmail.com,achini
            E007,Ruchira,Pathirana,Awissawella,B2,rpera@gmail.com,perera
            E008,Lional,Sadun,Pannipitiya,B2,sadun@gmail.com,sadun
            E009,Pasan,Dontin,Kuliyapitiya,B2,pasan@gmail.com,pasan
            E010,Anuhas,Pranandu,Kuliyapitiya,B2,anuhas@gmail.com,anuhas 
            E011,Samalka,Sithumi,Colombo,B3,samalka@gmail.com,samalka
            E012,Nadeemal,Rasik,Awissawella,B3,rasick@gmail.com,rasic
            E013,Abi,Gamage,Pannipitiya,B3,abi@gmail.com,abi
            E014,Prasanga,Wijepala,Kuliyapitiya,B3,wije@gmail.com,wije 
            E015,Shamika,Srimali,Kuliyapitiya,B3,shami@gmail.com,shami
            E016,Mansith,Pahansilu,Colombo,B4,mansith@gmail.com,mansith
            E017,Denuwan,Thathsara,Awissawella,B4,denuwan@gmail.com,denuwan
            E018,Madawa,Anjana,Pannipitiya,B4,madawa@gmail.com,madawa
            E019,Vikum,DoilPheshala,Kuliyapitiya,B4,vikum@gmail.com,vikum
            E020,Nisha,Vithanage,Rakwana,B4,nisha@gmail.com,nisha
        </param-value>
    </context-param>
    <context-param>
        <param-name>bmanager</param-name>
        <param-value>
            BM01,Arnold,Subasingha,Colombo,B1,arsuba@gmail.com,arnold
            BM02,Jonathan,Jakob,Awissawella,B2,jhon@gmail.com,jhon
            BM03,Silvester,Silva,Pannipitiya,B3,silva@gmail.com,silva
            BM04,Jhon,Doil,Kuliyapitiya,B4,doil@gmail.com,doil 
        </param-value>
    </context-param>
    <context-param>
        <param-name>branches</param-name>
        <param-value>
            B1,Human Resource,BM01
            B2,Finance Manage,BM02
            B3,IT Manage,BM03
            B4,Sales and Markating,BM04
        </param-value>
    </context-param>
    <context-param>
        <param-name>requset</param-name>
        <param-value>
            100,Sanuka Wicky,B1,BM01,E001,Sir Please Can i Have a Leave on 2017-07-13
            101,Achini Shalika,B2,BM02,E006,Sir Please Can i Have a Leave on 2017-07-20
            102,Samalka Sithumi,B3,BM03,E011,Sir Please Can i Have a Leave on 2017-07-10
            103,Nisha Vithanage,B4,BM04,E020,Sir Please Can i Have a Leave on 2017-07-19
        </param-value>
    </context-param>
    
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>lk.ijse.lms.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/branchView/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/employeView/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/managerView/log</url-pattern>
    </servlet-mapping>
    <!--////-->
    <servlet>
        <servlet-name>req</servlet-name>
        <servlet-class>lk.ijse.lms.web.RequestManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>req</servlet-name>
        <url-pattern>/req</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>req</servlet-name>
        <url-pattern>/branchView/req</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>req</servlet-name>
        <url-pattern>/employeView/req</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>req</servlet-name>
        <url-pattern>/managerView/req</url-pattern>
    </servlet-mapping>
    <!--//-->
    <servlet>
        <servlet-name>res</servlet-name>
        <servlet-class>lk.ijse.lms.web.ResponseManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/res</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/branchView/res</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/employeView/res</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/managerView/res</url-pattern>
    </servlet-mapping>
    
    <!--///-->
    
    <servlet>
        <servlet-name>reqID</servlet-name>
        <servlet-class>lk.ijse.lms.web.RequestIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reqID</servlet-name>
        <url-pattern>/reqID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reqID</servlet-name>
        <url-pattern>/branchView/reqID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reqID</servlet-name>
        <url-pattern>/employeView/reqID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reqID</servlet-name>
        <url-pattern>/managerView/reqID</url-pattern>
    </servlet-mapping>
    <!--//-->
    <servlet>
        <servlet-name>emp</servlet-name>
        <servlet-class>lk.ijse.lms.web.EmploysGettingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/branchView/emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/employeView/emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/managerView/emp</url-pattern>
    </servlet-mapping>
    <!--..-->
    <servlet>
        <servlet-name>mreq</servlet-name>
        <servlet-class>lk.ijse.lms.web.ManagerRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mreq</servlet-name>
        <url-pattern>/mreq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mreq</servlet-name>
        <url-pattern>/branchView/mreq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mreq</servlet-name>
        <url-pattern>/employeView/mreq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mreq</servlet-name>
        <url-pattern>/managerView/mreq</url-pattern>
    </servlet-mapping>
    <!--..-->
     <servlet>
        <servlet-name>bmres</servlet-name>
        <servlet-class>lk.ijse.lms.web.ManagerResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bmres</servlet-name>
        <url-pattern>/bmres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bmres</servlet-name>
        <url-pattern>/branchView/bmres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bmres</servlet-name>
        <url-pattern>/employeView/bmres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bmres</servlet-name>
        <url-pattern>/managerView/bmres</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/errorpages/errorpage404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/exception.jsp</location>
    </error-page>
</web-app>


